.section {
  padding: $l+$s 0;

  /* stylelint-disable */
  &--nsb {
    padding-bottom: 0;
  }

  &--gray {
    background-color: $gray;
  }

  &--dark {
    background-color: $dark;
  }

  &--special {
    background-color: $special;
  }
}
