.section {
  padding: $l+$s 0 $xxl;
  position: relative;

  @include mediaTo(md) {
    padding: $l 0;
  }

  /* stylelint-disable */
  &--nsb {
    padding-bottom: 0;
  }

  &--gray {
    background-color: $gray;
  }

  &--dark {
    background-color: $dark;
    color: $light;

    .text-section__label {
      color: $light;
    }
  }

  &--special {
    background-color: $special;
    color: $light;

    .text-section__label {
      color: $light;
    }
  }

  &--overlay {
    background-color: rgba($dark, 0.8);
  }

  &__bg {
    @extend %absolute;

    z-index: 0;
    opacity: 0.2;
    margin: 0;
  }

  &__image {
    @extend %image;
  }

  .container {
    position: relative;
    z-index: 10;
  }
}
