.select2 {
  @extend %text;

  background-color: darken($special, 10) !important;
  margin-right: $l !important;

  @include mediaTo(xs) {
    margin-right: 0 !important;
    margin-bottom: $l !important;
    width: 100% !important;

    &.select2 {
      @include cssLock("font-size", 360, 1920, (16, 18));
    }
  }

  &-container {
    border-radius: $xs !important;
  }

  &-selection--single {
    background-color: darken($special, 10) !important;
    color: $light !important;
    border: 0 !important;
    border-radius: $xs !important;
    height: 100% !important;

    @include mediaTo(xs) {
      width: 100%;
      padding: $s;
    }
  }

  &-selection__rendered {
    @extend %flex;

    display: flex !important;
    height: 100% !important;
    color: $light !important;
  }

  &-selection__arrow {
    height: 100% !important;
    right: $s !important;

    b {
      border-color: $light transparent transparent transparent !important;
    }
  }

  &-results__option {
    @extend %text;

    padding-left: $l !important;
  }

  &-selection__placeholder {
    color: $light !important;
    padding-left: $s;
    position: relative;

    &::before {
      @extend %absolute;

      content: url("../icons/pin.svg");
      right: unset;
      top: $gutter * 0.3;
      left: -$gutter * 1;
    }
  }
}
