@import "common/variables";
@import "common/placeholders";
@import "common/mixins";
@import "common/functions";
@import "common/global";

/** Import everything from autoload */
@import "./autoload/**/*";
@import "vendors/scss-lock/css-lock";
@import "~aos/dist/aos.css";
@import "~flickity/dist/flickity.css";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "components/*";
@import "elements/*";
@import "layouts/*";
@import "sections/*";
