.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $xl+$l;
  position: relative;
  z-index: 10;

  @include mediaTo(md) {
    display: block;
    padding-bottom: 0;
  }

  &__wrapper {
    @extend %absolute;

    margin-bottom: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    left: unset;

    @include media(md) {
      padding-right: 0;
    }

    @include mediaTo(md) {
      position: relative;
      max-width: $gutter * 70;
      padding-top: 0;
      padding-bottom: $xl;
    }
  }

  &__image-wrapper {
    margin-bottom: 0;
  }

  &__image {
    @extend %image;
  }

  &__sign {
    @extend %absolute;

    top: unset;
    bottom: 0;
    height: $xxl + $xl;
    transform: translateY($xl);

    @include mediaTo(md) {
      display: none;
    }
  }
}
