.header {
  @extend %absolute;

  bottom: unset;
  padding: $l 0;
  z-index: 10;

  img {
    width: $xxl;

    @include mediaTo(xs) {
      width: $xl;
    }
  }

  &__wrapper {
    @extend %flex;

    padding-right: $xl;
    padding-left: $xl;

    @include mediaTo(xs) {
      justify-content: flex-start;
      padding-right: $l;
      padding-left: $l;
    }
  }

  .menu {
    margin-bottom: 0;
    justify-content: flex-end;

    &__item {
      @include mediaTo(xs) {
        display: none;
      }

      &--space {
        @include mediaTo(xs) {
          display: flex;
          margin-top: 0;

          .button {
            @include cssLock("font-size", 360, 1920, (12, 14));

            padding: $xs $s;
            min-width: auto;
          }
        }
      }
    }
  }

  svg {
    filter: brightness(0) invert(1);
  }
}
