.text-section {
  $root: &;

  text-align: center;
  display: block;
  margin: auto;

  &--left {
    text-align: left;

    #{$root}__label {
      color: $special;
      margin-bottom: $m;
    }

    #{$root}__title {
      margin-bottom: $l;
    }
  }

  &__label {
    @extend %textMajor;
  }

  &__title {
    @extend %sectionTitle;

    margin-bottom: $m;
  }

  &__text {
    @extend %textMajor;

    @include mediaTo(xs) {
      br {
        display: none;
      }
    }
  }

  &__button {
    margin-top: $m;
  }
}
